@using KursKayir.Data

@model IEnumerable<Ogrenci>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="orta-div">

    <h2 style="text-align:center">Ogrenci Liste</h2>
    <a href="/Ogrenci/Create" class="btn btn-primary">Ogrenci Ekle</a>
    <table class="table">
        <thead>
            <tr>
                <th style="width:150px;">@Html.DisplayNameFor(m=>m.OgrenciKimlik)</th>
                <th>@Html.DisplayNameFor(m=>m.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m=>m.OgrenciSoyad)</th>
                <th style="width:150px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ogrenci in Model)
            {
                <tr>
                    <td><b>@ogrenci.OgrenciKimlik</b></td>
                    <td><b>@ogrenci.OgrenciAd</b></td>
                    <td><b>@ogrenci.OgrenciSoyad</b></td>
                    <td>
                        @*burdan gelen id Ogrenci controller icinden edit kismina gidiyor editte
                    eslesen id varsa bunu kontrol edip return ediyor.*@
                        <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@ogrenci.OgrenciKimlik" class="btn btn-sm btn-primary">Details</a>
                        <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@ogrenci.OgrenciKimlik" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

<style>
    .orta-div {
        width: 50%; /* Sayfanın genişliğinin yarısı kadar genişlik */
        margin: 27%; /* Dikey hizalama için margin kullanarak otomatik olarak ortalamak */
        padding: 20px; /* İçerik ile kenar arasında boşluk bırakmak için */
        border: 1px solid #ccc; /* Kenarlık eklemek */
        border-radius: 10px; /* Kenar yuvarlaklığı */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
        background-color: #fff; /* Arka plan rengi */
    }
</style>